@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
}
.main-container {
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  width: 880px;
  height: 600px;
  background-image: url("../assets/test-background-1.jpg");
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.inner-container {
  width: 700px;
  height: 500px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.07);
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
  display: grid;
  grid-template-rows: 9fr 1fr;
}
.inner-container span {
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  align-items: center;
  text-align: center;
}
.contents {
  padding: 30px;
  box-sizing: border-box;
  width: 615px;
  height: 330px;
  background: white;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
  display: grid;
}
.title {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-size: 36px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-button {
  display: flex;
  width: 260px;
  height: 50px;
  background-color: white;
  color: black;
  border: 2px solid #0c9374;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  text-decoration: none;
  padding: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: "Inconsolata";
  font-weight: 700;
  line-height: 21px;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.login-button:hover {
  border: 2px solid black;
  color: white;
  background-color: black;
  font-weight: 600;
}
.login-button .spotify-icon img {
  width: 32px;
  height: 32px;
  margin-left: 10px;
  margin-top: 4px;
}
@media (max-width: 830px) {
  .main-container {
    width: 350px;
    height: 500px;
    background-image: url("../assets/test-background-mbl.jpg");
  }
  .inner-container {
    width: 310px;
    height: 400px;
  }
  .contents {
    width: 270px;
    height: 305px;
    justify-content: center;
  }
  .title {
    font-size: 28px;
    line-height: 32px;
  }
  .login-button {
    width: 240px;
    height: 40px;
    font-size: 18px;
    white-space: nowrap;
    padding-bottom: 28px;
    align-items: normal;
  }
  .login-button .spotify-icon img {
    position: absolute;
    top: 73%;
    height: 24px;
    width: 24px;
    margin-left: 14px;
  }
  .inner-container span {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 400;
  }
}
